/*
 * ItemComment css File
*/

.ItemComment {
    /* propertys here */
}

.item {
    margin-bottom: 10px;
}

.comment {
    background-color: white;
}

.item-comment {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 7px;
    margin: 7px;
}

.item-comment p {
    margin: 0px;
}


.accordion .card .card-header {
    padding: 0;
}
.card-item-comment {
    border: 0;
}